@font-face {
  font-family: patrickHand;
  src: url(style/PatrickHand-Regular.ttf);
}

html, body, #root {
  height: 100%;
  margin: 0;
}

p {
  margin: 0px;
}

.logo {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 100px;
}

.App {
  text-align: center;
  height:100%;
  display: flex;
  flex-direction: column;
}

.content {
  background: linear-gradient(0deg, #fad372 0%, #e4d851 100%);
  height:100%; 
}

.content.today {
  background: linear-gradient(180deg, #00fbff 0%, #b4e5fe 100%);
}
